
@import '../../assets/scss/main.scss';

.btn {
border-radius: 10px;
background: $color-primary-light;
padding: .8rem 1.5rem;
color: $color-primary;
font-size: 1.14rem;
font-weight: 700;
}

.btnHead {

}