@import "../assets/scss/main.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  color: $color-text;
}
/* ::selection {
   background:rgba(252, 229, 55, 0.72);
 } */

html {
  ///// MIN WIDTH RULES GOES IN ASCENDING ORDER //////
  @include responsive(1600px) {
    font-size: 93.75%;
  }
  @include responsive(1800px) {
    font-size: 100%;
  }

  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  background: $color-bg;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style: none;
}

button,
input,
textarea,
select,
option {
  border: none;
  background-color: inherit;
  cursor: pointer;
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}

textarea {
  cursor: text;
}




// APP
.app {
  padding: 5rem 13rem 0 10rem;
  display: grid;
  grid-template-columns: 21% 1fr;
  grid-template-rows: 5rem auto;
  gap: 2.5rem;
}


.nav {
  grid-column: 2/ -1;
  grid-row: 1 / 2;
  background: $color-primary-dark;
  @include flex-between;
  padding: 0 1rem;
  border-radius: 8px;
  * {
    color: $color-bg;
  }

  span,
  select {
    font-size: 1.1rem;
  }

  h2 {
    flex: 0 0 20%;
    margin-left: 2rem;
    font-weight: 600;
  }

  svg {
    fill: $color-white;
    width: 2rem;
    height: 2rem;
  }

  span {
    color: $color-text;
  }
}



.aside {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}



.main {
  grid-column: 2/ -1;
  grid-row: 2 / -1;
  padding-bottom: 4rem;
  height: 80vh;
  overflow-y: scroll;
}

